@model ShoppingGames.Data.Entities.City
@{
    ViewData["Title"] = "DetailsState";
}

<h1>Detalles</h1>

<div>
    <partial name="_CityDetails" />
</div>
<div>
    @*<a asp-action="AddCity" asp-route-id="@Model?.Id" class="btn btn-outline-primary">Agregar Ciuadad</a>*@
    <a asp-action="EditCity" asp-route-id="@Model?.Id" class="btn btn-outline-success">Editar ciudad</a>
    <a asp-action="DetailsState" asp-route-id="@Model?.State.Id" class="btn btn-outline-secondary">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}